@import "tailwindcss";

:root {
    --yellow-500: #f59e0b;
    --yellow-600: #d97706;
    --yellow-400: #fbbf24;
    --gray-900: #111827;
    --gray-800: #1f2937;
    --gray-700: #374151;
    --gray-500: #6b7280;
    --transparent: transparent;
}

body {
    background-color: var(--gray-900);
}

.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #facc15 #1f2937; /* thumb track */
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #1f2937; /* gray-800 */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #facc15; /* yellow-400 */
    border-radius: 10px;
  }